$mt-color-light: #ffe7d7;

$mt-color-navy-100: #f5f6f8;
$mt-color-navy-125: #f1f2f6;
$mt-color-navy-150: #e3e6ee;
$mt-color-navy-200: #d6dce8;
$mt-color-navy-300: #afb8ce;
$mt-color-navy-350: #7f8cae;
$mt-color-navy-380: #80839b;
$mt-color-navy-400: #697498;
$mt-color-navy-500: #525c82;
$mt-color-navy-600: #191e49;

$mt-color-purple-50: #faf7ff;
$mt-color-purple-100: #f2ebff;
$mt-color-purple-125: #e7dcff;
$mt-color-purple-200: #e0d2ff;
$mt-color-purple-500: #c1a5ff;
$mt-color-purple-600: #946ee7;

$mt-color-magenta-400: #b52672;
$mt-color-magenta-600: #8c1858;

$mt-ui-button-transition: 0.2s;
